fastapi
uvicorn[standard]
python-dotenv==1.0.0
motor==3.3.2
TgCrypto
aiohttp==3.9.1
requests==2.31.0
yt-dlp
python-multipart
httpx

#pyrogram==2.0.106
https://github.com/IamDvis/pyrogram/archive/dvis.zip






